/* Add custom styles if needed */
.row {
    margin: 0; 
}

.card {
    width: 100%;
    box-shadow: 0 4px 8px rgb(255, 255, 255); /* Add a subtle box shadow */
}  

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.star-icon {
    color: gold; 
}
