<div class="row">
    <div class="col-md-4" *ngFor="let movie of movies">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h2 class="card-title">{{ movie.title }}</h2>
                <div class="card-header-desc d-flex justify-content-between align-items-center">
                    <p class="card-text">{{ movie.releasedDate }}</p>
                    
                    <div class="d-flex align-items-center">
                        <mat-icon aria-hidden="true" aria-label="star icon" fontIcon="star" class="star-icon"></mat-icon>
                        <p class="card-text">{{ movie.rating }}</p>
                    </div>
                </div>
            </div>
            <img class="card-img-top" [src]="movie.posterDir" alt="{{ movie.title }} Poster">
            <div class="card-body">
                
                <p class="card-text">{{ movie.description }}</p>
                
                <p class="card-text">Duration: {{ movie.duration }}</p>
                <div class="card-text">
                    Genres:
                    <button *ngFor="let genre of movie.genre.split(' ')" class="btn btn-sm btn-outline-secondary" (click)="genreButtonClick(genre)">{{ genre }}</button>
                </div>
                <p class="card-text">Trailer: <a [href]="movie.trailerLink" target="_blank">Watch it here!</a></p>
            </div>
            <hr class="my-4">
        </div>
    </div>
</div>
